/*
Guacamole Mexico Theme Color
#FDA409 : Orange
#F8513A : Orange sanguine
#FFF3AD : Jaune clair
#FFFFFF : Blanc
#FFD23E : Jaune foncé
#FFE376 : Jaune
#FA690E : Orange-Pamplemousse
#FC870B : Orange foncé
#81982D : Vert foncé
#A0AD2F : Vert
#FA7461 : Pamplemousse
*/

.login-ui .login-dialog .logo {
  content: '';
  display: block;
  height: 2em;
  width: 2em;
  background-image: url('app/ext/mexico-theme/images/logo.svg');
  background-position: initial;
  background-size: initial;
  background-repeat: initial;
}
div.login-ui {
  background: #666;
  background-color: #666;
}
.login-ui .login-dialog {
  background-color: white;
}
