/*
 * Guacamole Mexico Theme Color
 * 
 * Theme colors
 * #fda409 : Orange
 * #f8513a : Orange sanguine
 * #fff3ad : Jaune clair
 * #ffffff : Blanc
 * #ffd23e : Jaune foncé
 * #ffe376 : Jaune
 * #fa690e : Orange-Pamplemousse
 * #fc870b : Orange foncé
 * #81982d : Vert foncé
 * #a0ad2f : Vert
 * #fa7461 : Pamplemousse
 * 
 */

/* Remplacement du logo */
.login-ui .login-dialog .logo {
  height: 5em;
  width: 5em;
  background-size: 5em 5em;
  -moz-background-size:    5em 5em;
  -webkit-background-size: 5em 5em;
  -khtml-background-size:  5em 5em;
  background-image: url('app/ext/mexico-theme/images/logo.png');
}

div.login-ui {
  background: #ffffff;
  background-color: #ffffff;
}

.login-ui .login-dialog {
  background-color: #ffffff;
}

/* Modification de l'affichage de la version */
.login-ui .login-dialog .version .version-number {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: .25em .75em;
    margin: .25em;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    -khtml-border-radius: .5em;
    border-radius: .5em;
    color: #ffe376;
    background: #81982d;
    font-size: .5em;
    font-style: italic;
    opacity: 1;
}
