.login-ui .login-dialog .logo {
  background-image: url('app/ext/tempnamespace/images/logo.png');
	width: 256px;
	height: 256px;
	-webkit-background-size: 256px 256px;
}
div.login-ui {
	background: #666;
	background-color: #666;
}
.login-ui .login-dialog {
	background-color: white;
}
